{% extends "basic.html" %} {% block content %}
<div class="bg-nav">
    <h1 class="wrap-center">Chat application made using Mongo and Redis.</h1>
</div>
{% endblock %} {% block script %}
<style type="text/css">
    body {
        background-image: url("/static/img/bg.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
        height: 100vh;
    }

    h1 {
        color: aliceblue;
    }
</script> {% endblock %}