{% extends "basic.html" %}
{% load csstags %}
{% block content %}
    <div class="container top-padding">
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email address</label>
                {{ form.email | addcss:'form-control, Email' }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password | addcss:'form-control, Password' }}
            </div>
            <button type="submit" class="btn btn-success btn-block">Sign In</button>
        </form>
        <a href="/signup" style="text-decoration: none;">
            <button class="btn btn-info btn-block" style="margin-top: 10px;">Sign Up</button>
        </a>
        <div class="container-fluid">
            {% if status %}
                <p>{{ status }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
