.navbar-default {
    box-shadow: none;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-size: 1em;
}

.navbar-brand {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-size: 1.65em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #5d32ff;
}

.bg-nav {
    padding-top: 140px;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-image: url("/static/img/bg.jpg");
}

.top-padding {
    margin-top: 6rem;
}

.wrap-center {
    position: relative;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
    text-align: center;
    font-family: 'Quicksand', 'sans-serif';
}

.affix {
    -webkit-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out;

}

.affix-top {
    /* navbar style at top */
    background: transparent;
    border-color: transparent;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.affix-top .nav > li > a {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-size: 1.4em;
    color: #000;
}

.affix-top .navbar-collapse {
    border-color: transparent;
    box-shadow: initial;
}

p {
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}